{% extends "blog/base.html" %}
{% block content %}
<div id="accordion">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" id="heading">
                <button class="btn btn-info collapsed btn-show" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapse">
                    {{ object.title }}
                </button>
                <small class="hide">Show PDF and Summary</small>
            </h4>
            {% if object.user == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'audiobook-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'audiobook-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
            <p class="card-text"><small class="text-muted">Written By: {{ object.author }}</small></p>
            <div id="collapse" class="card-text collapse" aria-labelledby="heading" data-parent="#accordion">
                <embed class="" src="{{ object.pdf_file.url }}" type="application/pdf" width="100%" height="600px"/>
            </div>
            <div class="card-text">
                <p class="text-muted">Upload Date {{ object.date_posted|date:"F d, Y" }}</p>
            </div>
            <div class="card-body">
                <div id="collapse" class="card-text collapse" aria-labelledby="heading" data-parent="#accordion">
                    <h6 class="card-title">Summary</h6>
                    <pre class="pre-text">
                        {{ object.summary }}
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}