{% extends "blog/base.html" %}
{% block content %}
<div id="accordion">
    <div class="card">
        <div class="card-body">
            <div class="">
                <video class="video" controls>
                    <source src="{{ object.video_file.url }}" type="video/mp4">
                </video>
            </div>
            <h4 class="card-title" id="heading">
                <button class="btn btn-info collapsed btn-show" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapse">
                    {{ object.title }}
                </button>
                <small class="hide">Show Lyrics</small>
            </h4>
            {% if object.author == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'video-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'video-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
            <p class="card-text"><small class="text-muted">By {{ object.artist }}</small></p>
            <div class="card-text">
                <p class="text-muted">Upload Date {{ object.date_posted|date:"F d, Y" }}</p>
            </div>
            <div class="card-body">
                <div id="collapse" class="card-text collapse" aria-labelledby="heading" data-parent="#accordion">
                    <h6 class="card-title">Lyrics</h6>
                    <pre class="pre-text">
                        {{ object.lyrics }}
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}